/* generelle tags */
a:link { color:#666666;
	}
a:visited { color:#666666;
	}
a:hover  { color:#336699;
	}
a:active { color:#666666;
	}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, div, caption, td, th
	{
	  font-family:Arial,verdana,Helvetica,sans-serif;
	  font-size:10pt;
	  line-height:1.2em;
	  color:#000000;
	  background-color:#ffffff;
	}
@page { size:21.0cm 27.9cm;
	}
h1 {color:#336699;
	line-height:1.1em;
	text-align : left;
	}
h2 {color:#336699;
	font-size:16pt;
 	color:#336699;
	line-height:22pt;
	text-align : left;
	}
h3,h4 { font-size:12pt;
	color:#336699;
	line-height:18pt;
	text-align : left;
	}
h5,h6 {	font-size:10pt;
	color:#336699;
	text-align : left;
	}
/* Formatierung Kopfueberschrift */
.kopf {color:#336699;
		font-weight:600;
		font-size:14pt;
	padding:0pt;
	}
.menuleiste	{color:#ffffff;
		font-weight:300;
		font-size:9pt;
	padding:1pt;
	}
	
/* rot Leiste und Links*/

.leisterot	{color:#ffffff;
		background-color:#990033;
		font-weight:400;
		font-size:10pt;
	padding:1pt;
	}
.leisterot	a:link {color:#ffffff;
text-decoration:none;
	}
.leisterot	a:visited {color:#ffffff;
text-decoration:none;
	}
.leisterot	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leisterot	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* gruen Leiste und Links*/

.leistegruen	{color:#ffffff;
		background-color:#336633;
		font-weight:400;
		font-size:10pt;
	padding:1pt;
	}
.leistegruen	a:link {color:#ffffff;
text-decoration:none;
	}
.leistegruen	a:visited {color:#ffffff;
text-decoration:none;
	}
.leistegruen	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leistegruen	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* orange Leiste und Links*/

.leisteorange	{color:#ffffff;
	background-color:#cc6600;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leisteorange	a:link {color:#ffffff;
text-decoration:none;
	}
.leisteorange		a:visited {color:#ffffff;
text-decoration:none;
	}
.leisteorange		a:hover	{color:#666666;
text-decoration:none;
	}
.leisteorange		a:active {color:#ffffff;
text-decoration:none;
	}
	
/* violett Leiste und Links*/

.leisteviolett	{color:#ffffff;
	background-color:#660066;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leisteviolett a:link {color:#ffffff;
text-decoration:none;
	}
.leisteviolett	a:visited {color:#ffffff;
text-decoration:none;
	}
.leisteviolett	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leisteviolett	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* hellblaue Leiste und Links*/

.leistehellblau	{color:#ffffff;
	background-color:#6699cc;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leistehellblau a:link {color:#ffffff;
text-decoration:none;
	}
.leistehellblau	a:visited {color:#ffffff;
text-decoration:none;
	}
.leistehellblau	a:hover	{color:#666666;
text-decoration:none;
	}
.leistehellblau	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* blaugruen Leiste und Links*/

.leisteblaugruen	{color:#ffffff;
	background-color:#009999;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leisteblaugruen a:link {color:#ffffff;
text-decoration:none;
	}
.leisteblaugruen	a:visited {color:#ffffff;
text-decoration:none;
	}
.leisteblaugruen	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leisteblaugruen	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* dunkelblau Leiste und Links*/

.leistedunkelblau	{color:#ffffff;
	background-color:#0066cc;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leistedunkelblau a:link {color:#ffffff;
text-decoration:none;
	}
.leistedunkelblau a:visited {color:#ffffff;
text-decoration:none;
	}
.leistedunkelblau	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leistedunkelblau	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* gelb Leiste und Links*/

.leistegelb {color:#000000;
background-color:#ffcc00;
font-weight:400;
font-size:10pt;
padding:1pt;
}
.leistegelb a:link {color:#ffffff;
text-decoration:none;
	}
.leistegelb a:visited {color:#ffffff;
text-decoration:none;
	}
.leistegelb	a:hover	{color:#666666;
text-decoration:none;
	}
.leistegelb	a:active {color:#ffffff;
text-decoration:none;
	}
	
/* hellgruen - HNMRC Leiste und Links */

.leistehnmrc {color:#000000;
	background-color:#83b22e;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leistehnmrc a:link {color:#000000;
text-decoration:none;
	}
.leistehnmrc a:visited {color:#000000;
text-decoration:none;
	}
.leistehnmrc	a:hover	{color:#666666;
text-decoration:none;
	}
.leistehnmrc	a:active {color:#000000;
text-decoration:none;
	}
	
/* standardblau Leiste und Links */

.leisteblau	{color:#ffffff;
	background-color:#336699;
	font-weight:400;
	font-size:10pt;
padding:1pt;
}
.leisteblau	a:link {color:#ffffff;
text-decoration:none;
	}
.leisteblau	a:visited {color:#ffffff;
text-decoration:none;
	}
.leisteblau	a:hover	{color:#cccccc;
text-decoration:none;
	}
.leisteblau a:active	{color:#ffffff;
text-decoration:none;
	}
/* Menue linksbuendig */

.seitenleiste	 {color:#336699;
font-size:10pt;
font-weight:600;

line-height:14pt;
text-align : left;
}
.seitenleiste	a:link {color:#336699;
text-decoration:none;
	}
.seitenleiste	a:visited {color:#336699;
text-decoration:none;
	}
.seitenleiste	a:hover	{color:#cccccc;
text-decoration:none;
	}
.seitenleiste a:active	{color:#336699;
text-decoration:none;
	}
	
.blauesmenue	{color:#ffffff;
	background-color:#336699;
	font-weight:400;
	font-size:10pt;
	padding:3pt;
	}
.gross	{font-size:10pt;
color:#666666;
background-color:#cccccc;
}

.klein	{font-size:8pt;
color:#000000;
}	
/* aufzaehlung */

.liste	{font-size:9pt;
	color:#666666;
	background-color:#dddddd;
	}

.unilist {list-style-image : url(../images/square.gif);
	line-height:1.5em;
		color:#000000;
		}
.unilist	a:link {color:#666666;
text-decoration:none;
	}
.unilist	a:visited {color:#666666;
text-decoration:none;
	}
.unilist	a:hover	{color:#336699;
text-decoration:none;
	}
.unilist a:active	{color:#666666;
text-decoration:none;
	}
			
.listeklein {list-style-image : url(../images/square.gif);
	font-size:9pt;
	line-height:1em;
	}
.fett	{font-weight:bold;}
.blau	{color:#ffffff;
	background-color:#336699;
	font-weight:600;
	padding:1pt;
	}
	
